<div class="overview">
  <ul class="overview__list">
    <li class="overview__item">
      <div class="item__icon _flex-center">
        <svg class="icon" width="35" height="35" fill="tomato">
          <use xlink:href="./images/icons/overview/TravelingEarth.svg"></use>
        </svg>
      </div>
      <h4 class="overview__title">Plan your perfect trip</h4>
      <p class="overview__content">Li Europan lingues es membres del sam familie separat existentie es un myth.</p>
    </li>
    <li class="overview__item">
      <div class="item__icon _flex-center">
        <svg class="icon" width="35" height="35" fill="tomato">
          <use xlink:href="./images/icons/overview/TravelingEarth.svg"></use>
        </svg>
      </div>
      <h4 class="overview__title">Get your tickets</h4>
      <p class="overview__content">Li Europan lingues es membres del sam familie separat existentie es un myth</p>
    </li>
    <li class="overview__item">
      <div class="item__icon _flex-center">
        <svg class="icon" width="35" height="35" fill="tomato">
          <use xlink:href="./images/icons/overview/TravelingEarth.svg"></use>
        </svg>
      </div>
      <h4 class="overview__title">Travel around country</h4>
      <p class="overview__content">Li Europan lingues es membres del sam familie separat existentie es un myth</p>
    </li>
  </ul>
</div>
