<section class="blog" id='blog'>
  <div class="blog__container container">
    <h2 class="blog__title">Journey Journal</h2>
    <p class="blog__subtitle">Our Blog and Articles</p>
    <ul class="blog__list">
      <li class="blog__item b-item" id='item1'>
        <div class="b-item__img">
          <img class="_img" src="./images/blog/America.jpg" alt="America">
        </div>
        <div class="b-item__content">
          <h4 class="b-item__title">Insight</h4>
          <p class="b-item__subtitle">Exploring the Hidden Gems of South America</p>
          <p class="b-item__decsr">Li Europan lingues es membres del sam lor separat existentie es un myth...</p>
          <a class="b-item__link" href="#">Read More</a>
        </div>

      </li>
      <li class="blog__item b-item" id='item2'>
        <div class="b-item__img">
          <img class="_img" src="./images/blog/Indonesia.jpg" alt="Indonesia">
        </div>
        <div class="b-item__content">
          <h4 class="b-item__title">Insight</h4>
          <p class="b-item__subtitle">Exploring the Rich Heritage of Indonesia</p>
          <p class="b-item__decsr">Li Europan lingues es membres del sam lor separat existentie es un myth...</p>
          <a class="b-item__link" href="#">Read More</a>
        </div>

      </li>
      <li class="blog__item b-item" id='item3'>
        <div class="b-item__img">
          <img class="_img" src="./images/blog/Egypt.jpg" alt="Egypt">
        </div>
        <div class="b-item__content">
          <h4 class="b-item__title">Insight</h4>
          <p class="b-item__subtitle">Unveiling the Ancient Wonders of Egypt</p>
          <p class="b-item__decsr">Li Europan lingues es membres del sam lor separat existentie es un myth...</p>
          <a class="b-item__link" href="#">Read More</a>
        </div>

      </li>
      <li class="blog__item b-item"id='item4'>
        <div class="b-item__img">
          <img class="_img" src="./images/blog/Time.jpg" alt="Time">
        </div>
        <div class="b-item__content">
          <h4 class="b-item__title">Insight</h4>
          <p class="b-item__subtitle">Exploring the World, One Adventure at a Time</p>
          <p class="b-item__decsr">Li Europan lingues es membres del sam lor separat existentie es un myth...</p>
          <a class="b-item__link" href="#">Read More</a>
        </div>

      </li>
    </ul>
    <a class="view-all-btn" href=""> View All Post
      <svg class="icon" width="14" height="13">
        <use xlink:href="./images/icons/icons.svg#arrowRight"></use>
      </svg>
    </a>
  </div>
</section>