<section class='destinations'>
  <div class='container destinations__container'>
    <h2 class='destinations__title'>Must-Visit Destinations</h2>
    <p class='destinations__subtitle'>Exploring the Most Popular Gems Around the Globe</p>
    <div class='destinations__swiper'>
      <div class='gallary'>
        <div class='swiper-wrapper'>
          <li class='destinations__slide swiper-slide d-item'>
            <div class='d-item__img'>
              <img class='_img' src='./images/destinations/city.jpg' alt='Calle Gran Via' width='286'>
            </div>
            <div class='d-item__content'>
              <div class='d-item__location'>
                <p class='t-item_content'>Madrid, Spain</p>
              </div>
              <p class='d-item__title'>Calle Gran Via</p>
              <p class='d-irem__rate'>5 stars</p>
              <p class='d0item__price'>$399</p>
              <p class='d-item__description'>Li Europan lingues es membres del sam lor separat existentie es un
                myth. </p>
            </div>
          </li>
          <li class='destinations__slide swiper-slide d-item'>
            <div class='d-item__img'>
              <img class='_img' src='./images/destinations/paris.jpg' alt='Eiffel Tower' width='286'>
            </div>
            <div class='d-item__content'>
              <div class='d-item__location'>
                <p class='t-item_content'>Champ de Mars, France</p>
              </div>
              <p class='d-item__title'>Calle Gran Via</p>
              <p class='d-irem__rate'>5 stars</p>
              <p class='d0item__price'>$599</p>
              <p class='d-item__description'>Li Europan lingues es membres del sam lor separat existentie es un
                myth. </p>
            </div>
          </li>
          <li class='destinations__slide swiper-slide d-item'>
            <div class='d-item__img'>
              <img class='_img' src='./images/destinations/beach.jpg' alt='Diamond Beach' width='286'>
            </div>
            <div class='d-item__content'>
              <div class='d-item__location'>
                <p class='t-item_content'>Bali, Indonesia</p>
              </div>
              <p class='d-item__title'>Diamond Beach</p>
              <p class='d-irem__rate'>5 stars</p>
              <p class='d0item__price'>$499</p>
              <p class='d-item__description'>Li Europan lingues es membres del sam lor separat existentie es un
                myth. </p>
            </div>
          </li>
          <li class='destinations__slide swiper-slide d-item'>
            <div class='d-item__img'>
              <img class='_img' src='./images/destinations/city.jpg' alt='Calle Gran Via' width='286'>
            </div>
            <div class='d-item__content'>
              <div class='d-item__location'>
                <p class='t-item_content'>Madrid, Spain</p>
              </div>
              <p class='d-item__title'>Calle Gran Via</p>
              <p class='d-irem__rate'>5 stars</p>
              <p class='d0item__price'>$399</p>
              <p class='d-item__description'>Li Europan lingues es membres del sam lor separat existentie es un
                myth. </p>
            </div>
          </li>
          <li class='destinations__slide swiper-slide d-item'>
            <div class='d-item__img'>
              <img class='_img' src='./images/destinations/city.jpg' alt='Calle Gran Via' width='286'>
            </div>
            <div class='d-item__content'>
              <div class='d-item__location'>
                <p class='t-item_content'>Madrid, Spain</p>
              </div>
              <p class='d-item__title'>Calle Gran Via</p>
              <p class='d-irem__rate'>5 stars</p>
              <p class='d0item__price'>$399</p>
              <p class='d-item__description'>Li Europan lingues es membres del sam lor separat existentie es un
                myth. </p>
            </div>
          </li>
        </div>
      </div>
      <div class='btn-prev'>Prev</div>
      <div class='btn-next'>Next</div>
    </div>
  </div>
</section>