<footer class='footer'>
  <div class='footer__container'>
    <ul class='footer__list'>
      <li class='footer__item footer__subscribe subscr-email'>
        <h2 class='footer__title'>Subcribe and be Update</h2>
        <form action='#' class='subscr-email__form'>
          <label class='subscr-email__field'>
            <input type='email' class='subscr-email__input' name='mail'
                   placeholder='Please enter your email address to get latest updates and offers' />
          </label>
          <button type='button' class=' button subscr-email__btn'>
            <span>subcribe</span>
          </button>
        </form>
      </li>
      <li class='container footer__item footer__info'>
        <div class='footer__logo-info'>
          <a class='footer__logo' href='#'>
            <include src='./partials/components/logo.html'></include>
          </a>
          <p class='footer__logo-descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare
            libero
            nec mauris laoreet maximus Lorem ipsum dolor sit amet.
          </p>

        </div>
        <ul class='footer__info-list'>
          <li class='footer__info-item fi'>
            <h4 class='fi__title'>Home</h4>
            <ul class='fi__list'>
              <li class='fi__item'>
                <a href='#destinations' class='fi__link'>Destinations</a>
              </li>
              <li class='fi__item'>
                <a href='#packs' class='fi__link'>Packs</a>
              </li>
              <li class='fi__item'>
                <a href='#blog' class='fi__link'>Blog</a>
              </li>
              <li class='fi__item'>
                <a href='#aboutUs' class='fi__link'>About Us</a>
              </li>
            </ul>
          </li>
          <li class='footer__info-item fi'>
            <h4 class='fi__title'>Contact Us</h4>
            <ul class='fi__list'>
              <li class='fi__item'>
                <a href='#helpCenter' class='fi__link'>Help Center</a>
              </li>
              <li class='fi__item'>
                <a href='#testimony' class='fi__link'>Testimony</a>
              </li>
              <li class='fi__item'>
                <a href='#contact' class='fi__link'>Contact</a>
              </li>
            </ul>
          </li>
          <li class='footer__info-item fi-social'>
            <h4 class='fi__title'>Follow Us</h4>
            <ul class='fi-social__list'>
              <li class='fi-social__item'>
                <a href='#destinations' class='fi__link'>Destinations</a>
              </li>
              <li class='fi-social__item'>
                <a href='#packs' class='fi__link'>Packs</a>
              </li>
              <li class='fi-social__item'>
                <a href='#blog' class='fi__link'>Blog</a>
              </li>
              <li class='fi-social__item'>
                <a href='#aboutUs' class='fi__link'>About Us</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>