<section class='packages'>
  <div class='container packages__container'>
    <h2 class='packages__title'>Customized Experiences</h2>
    <p class='packages__subtitle'>Revealing Our Amazing Travel Packages</p>
    <div class='packages__swiper'>
      <div class='packages__gallary'>
        <div class='swiper-wrapper'>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 1</p>
            <p class='packages__price'>$399</p>
            <p class='packages__people-info'> For 2 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 2</p>
            <p class='packages__price'>$410</p>
            <p class='packages__people-info'> For 2-4 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 3</p>
            <p class='packages__price'>$499</p>
            <p class='packages__people-info'> For 2-4 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 4</p>
            <p class='packages__price'>$510</p>
            <p class='packages__people-info'> For 4 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 5</p>
            <p class='packages__price'>$600</p>
            <p class='packages__people-info'> For 4-5 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
          <div class='packages__slide swiper-slide'>
            <p class='packages__card-title'>Packages 1</p>
            <p class='packages__price'>$399</p>
            <p class='packages__people-info'> For 2 People</p>
            <ul class='packages__info p-info'>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Tour Guide
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Hotel accomodation
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Special dinner
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#activeChecked'></use>
                </svg>
                Speedboat and yachts
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Refundable
              </li>
              <li class='p-info__item'>
                <svg class='icon' width='20' height='20'>
                  <use xlink:href='./images/icons/icons.svg#notChecked'></use>
                </svg>
                Bonus and gifts
              </li>
            </ul>
            <a class='packages__link' href='#'>Choose Package</a>
          </div>
        </div>
      </div>
      <div class="packages__btn-prev">Prev</div>
      <div class="packages__btn-next">Next</div>
    </div>
  </div>
</section>