<section class='testimonial'>
  <div class='testimonial__container container'>
    <h2 class='testimonial__title'>Testimonial</h2>
    <p class='testimonial__subtitle'>What They Say About Us ?</p>
    <ul class='testimonial__list'>
      <li class='testimonial__item t-item'>
        <div class='t-item__img'>
          <img class='_img' src='./images/testimonial/calvin.jpg' alt='Direct Web Calvin Upton' width='242'>
        </div>
        <div class='t-item__content'>
          <div class='t-item__rates'>
            <p class='t-item_rate'>5</p>
            <div class='t-item__stars'>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
            </div>
          </div>
          <p class='t-item__position'>Li Europan lingues es membres del sam familie. Lor separat existentie es un
            myth. </p>
          <p class='t-item__name'>Calvin Upton</p>
          <p  class='t-item__role' lang='en'>Direct Web Agent</p>
        </div>
      </li>
      <li class='testimonial__item t-item'>
        <div class='t-item__img'>
          <img class='_img' src='./images/testimonial/erica.jpg' alt='Senior Intranet Agent Erica Gleason' width='242'>
        </div>
        <div class='t-item__content'>
          <div class='t-item__rates'>
            <p class='t-item_rate'>5</p>
            <div class='t-item__stars'>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
            </div>
          </div>
          <p class='t-item__position'>Li Europan lingues es membres del sam familie. Lor separat existentie es un
            myth. </p>
          <p class='t-item__name'>Erica Gleason</p>
          <p class='t-item__role' lang='en'>Senior Intranet Agent</p>
        </div>
      </li>
      <li class='testimonial__item t-item'>
        <div class='t-item__img'>
          <img class='_img' src='./images/testimonial/robin.jpg' alt='Internal Creative Officer Robin Dickens'
               width='242'>
        </div>
        <div class='t-item__content'>
          <div class='t-item__rates'>
            <p class='t-item_rate'>5</p>
            <div class='t-item__stars'>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
              <i class="fas fa-star fa-lg"></i>
            </div>
          </div>
          <p class='t-item__position'>Li Europan lingues es membres del sam familie. Lor separat existentie es un
            myth. </p>
          <p class='t-item__name'>Robin Dickens</p>
          <p class='t-item__role' lang='en'>Internal Creative Officer</p>
        </div>
      </li>
    </ul>
  </div>
</section>