
  <ul class="overview-list">
    {{#each items}}
      <li class="overview__item">
        <h4 class="overview__title">{{title}}</h4>
        <p class="overview__content">{{content}}</p>
      </li>
    {{/each}}
  </ul>
