<section class="about">
  <div class="about__container container">
    <ul class="about__img">
      <li class="img__item">
        <picture>
          <source srcset="
                          ./images/about/sky.webp 1x,
                          ./images/about/sky@2x.webp 2x"
                  type="image/webp"
                  media="(max-width: 1200px)">
          <source srcset="
                        ./images/about/sky.png 1x,
                        ./images/about/sky@2x.png 2x"
                  media="(max-width: 1200px)">
          <img class="_img" src="./images/about/sky.png" alt="Поддержка клиентов" width="394">
        </picture>
      </li>
      <li class="img__item">
        <picture>
          <source srcset="
                          ./images/about/book.webp 1x,
                          ./images/about/book@2x.webp 2x"
                  type="image/webp"
                  media="(max-width: 1200px)">
          <source srcset="
                        ./images/about/book.png 1x,
                        ./images/about/book@2x.png 2x"
                  media="(max-width: 1200px)">
          <img class="_img" src="./images/about/book.png" alt="Поддержка клиентов" width="259">
        </picture>
      </li>
    </ul>
    <div class="about__content content">
      <p class="content__subtitle">About Us</p>
      <h2 class="content__title">Discover Our Story</h2>
      <p class="content__text">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
        scientie, musica, sport etc, litot Europa usa li sam vocabular.
      </p>
      <button class="about__btn btn" type="button">Explore Now</button>
    </div>
  </div>
</section>