<section class="about">
  <div class="about__container container">
    <div class="about__img"></div>
    <div class="about__content content">
      <p class="content__subtitle">About Us</p>
      <h2 class="content__title">Discover Our Story</h2>
      <p class="content__text">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por
        scientie, musica, sport etc, litot Europa usa li sam vocabular.
      </p>
      <button class="about__btn btn" type="button">Explore Now</button>
    </div>
  </div>
</section>