<section class="destinations">
  <div class="destinations__container container">
    <h2 class="destinations__title">Must-Visit Destinations</h2>
    <p class="destinations__subtitle">Exploring the Most Popular Gems Around the Globe</p>

    <div class="swiper destinations__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide destinations__slide">1</div>
        <div class="swiper-slide destinations__slide">2</div>
        <div class="swiper-slide destinations__slide">3</div>
        <div class="swiper-slide destinations__slide">4</div>
        <div class="swiper-slide destinations__slide">5</div>
        <div class="swiper-slide destinations__slide">6</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </div>
</section>