<section class='destinations'>
  <div class='container destinations__container'>
    <h2 class='destinations__title'>Must-Visit Destinations</h2>
    <p class='destinations__subtitle'>Exploring the Most Popular Gems Around the Globe</p>
    <div class='destinations__swiper'>
      <div class='gallary'>
        <div class='swiper-wrapper'>
          <div class='destinations__slide swiper-slide'>1</div>
          <div class='destinations__slide swiper-slide'>2</div>
          <div class='destinations__slide swiper-slide'>2</div>
          <div class='destinations__slide swiper-slide'>4</div>
          <div class='destinations__slide swiper-slide'>5</div>
          <div class='destinations__slide swiper-slide'>6</div>
        </div>
      </div>
      <div class='btn-prev'>Prev</div>
      <div class='btn-next'>Next</div>
    </div>
  </div>
</section>