<footer class='footer'>
  <div class="main__container">
    <ul class="footer__list">
      <li class="footer__item footer__subscribe subscr-email">
        <h2 class="footer__title">Subcribe and be Update</h2>
        <form action="#" class="subscr-email__form">
          <label class="subscr-email__field">
            <input type="email" class="subscr-email__input" name="mail" placeholder="Please enter your email address to get latest updates and offers"/>
          </label>
          <button type="button" class=" button subscr-email__btn">
            <span>subcribe</span>
          </button>
        </form>
      </li>
      <li class="footer__item footer__info container">
      </li>
    </ul>
  </div>
</footer>