<section class="packages">
  <div class="container packages__container">
    <h2 class="packages__title">Customized Experiences</h2>
    <p class="packages__subtitle">Revealing Our Amazing Travel Packages</p>
    <div class="swiper packages__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide packages__slide">1</div>
        <div class="swiper-slide packages__slide">2</div>
        <div class="swiper-slide packages__slide">3</div>
        <div class="swiper-slide packages__slide">4</div>
        <div class="swiper-slide packages__slide">5</div>
        <div class="swiper-slide packages__slide">6</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>