.about {
  background-color: var(--primary-bg-color);
  margin-top: 282px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__btn {
    border-radius: 15px;
    background: #00A0B1;
    padding: 14px 18px;
    margin-top: 26px;

    &:hover {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.img__item {
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 60px 100px -39px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  &:first-child {
    min-width: 394px;
  }

  &:last-child {
    min-width: 259px;
  }

  &:not(:last-child) {
    margin-right: 41px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 77px;

  &__title {
    color: #363636;
    font-family: Montserrat, sans-serif;
    font-size: 67px;
    font-weight: 600;
    line-height: 1.074;
    margin-top: 24px;
  }

  &__subtitle {
    color: #00A0B1;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.143;
  }

  &__text {
    color: #767681;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 24px;
  }
}

.btn {
  width: 143px;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}
