.destinations {
  margin-top: 120px;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: #00A0B1;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(32 / 28); /* 114.286% */
  }

  &__subtitle {
    color: #363636;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(72 / 67); /* 107.463% */
    margin-top: 12px;
    padding: 0 140px;
  }

  &__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 50px auto;
    position: relative;
    padding: 0 105px;
  }

  &__gallery {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  &_gallery .swiper-wrapper {
    box-sizing: content-box;
  }

}


.btn-next, .btn-prev {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  background-color: #00A0B1;
  border-radius: 12px;
  z-index: 10;
  color: white;
  cursor: pointer;
}

.btn-next {
  right: -25px;
}

.btn-prev {
  left: 25px;
}

.d-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__img {
    display: block;
    overflow: hidden;
    border-radius: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__location {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 42px;
    color: rgba(161, 161, 161, 0.60);
    font-family: Nexa Bold, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;

    p {
      margin-left: 5px;
    }
  }

  &__title {
    margin-top: 26px;
    color: #363636;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(24 / 16); /* 114.286% */
  }

  &__price {
    margin-top: 11px;
    color: #00A0B1;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;

  }

  &__description {
    margin-top: 17px;
    color: #767681;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(24 / 16); /* 150% */

  }
}

.location-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  color: #00A0B1;
}