.header {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__logo {
    display: flex;
  }
}

.transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
}

.solid {
  background-color: #00a0b1;
  opacity: .7;
  color: #363636;
}




